*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font: normal 400 16px / 1.4 system-ui,
    -apple-system, sans-serif, monospace;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-variant-ligatures: none;
  text-size-adjust: none;
  font-synthesis: none;
  font-kerning: none;

  color: #c7c7c7;
  background-color: #282828;
}

body {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  min-height: 100dvh;
  margin: 0px;
}

.field {
  width: 33%;
  height: 90dvh;

  border-radius: 8px;
  padding: 12px 10px;

  color: #282828;
  background-color: #c7c7c7;

  font-family: monospace;
  overflow: hidden auto;
}

textarea#input {
  outline: 4px dashed transparent;
  outline-offset: -8px;
  resize: none;
}

textarea#input.hover {
  outline-color: #282828;
}

textarea::placeholder {
  padding: 41.25dvh 10%;
  text-align: center;
  text-wrap: balance;
  font-style: italic;
  color: #282828;
}

.button {
  display: block;
  width: 125px;

  padding-block: 5px;
  margin-inline: 5dvw;

  border: 1px solid #c7c7c7;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.4;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  color: #c7c7c7;
  background-color: #282828;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;
}

.button:not(:first-child) {
  margin-top: 25px;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.button:hover {
  background-color: #c7c7c7;
  color: #282828;
}

@media screen and (max-width: 1024px) {
  body {
    flex-direction: column;
  }

  .field {
    width: 90dvw;
    height: 40dvh;
  }

  textarea::placeholder {
    padding: 19% 10%;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    gap: 20px;
  }

  .button {
    margin-inline: 0px;
  }

  .button:not(:first-child) {
    margin-top: 0px;
  }
}

::selection {
  background-color: #282828;
  color: #c7c7c7;
}

::-moz-selection {
  background-color: #282828;
  color: #c7c7c7;
}
